.table-footer {
    text-align: center;
}

.form-input.invalid {
    border-color: red;
}

.created-todo {
    background-color: lightsalmon;
    color: mediumblue;
}

.finished-todo {
    background-color: limegreen;
    color: mediumblue;
}

.half-width {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-sizing: border-box; }