.todo-list {
    margin-bottom: 20px;
}

.todo {
    list-style: none;
    color: #555;
    border: 1px solid #bbb;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 20px;
    background-color: lightyellow;
}

.todo.done {
    background-color: lightgreen;
}

.delete-btn {
    float: right;
}

.create-todo-form {
    list-style: none;
    color: #555;
    border: 1px solid #bbb;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 20px;
    background-color: lightyellow;
}